
<section>
  <div class="page-header">
    <h1>
      <%= t('menu_dashboard.edit.title') %> : <%= @menu.title %>
    </h1>
  </div>

  <ul class="breadcrumb">
    <li>
      <a href="<%= table_dashboard_manage_path %>">Table : <%= @table.title %></a> <span class="divider">/</span>
    </li>
    <li class="active">
      Menu : <%= @menu.title %>
    </li>
  </ul>


  <div class="row">

    <div class="span4">
      <h2>Edit menu</h2>
      <%= render :partial => 'menu_dashboard/form', :locals => { :menu => @menu } %>
    </div>
    
    <div class="span6">      
      <%= render :partial => 'dish_dashboard/dish_list' %>
    </div>

  </div>
</section>

