
<section>
  <div class="page-header">
    <h1>
      <%= t('menu_dashboard.edit.title') %> : <%= @menu.title %>
    </h1>
  </div>

  <div class="row">

    <div class="span4">
      <h2>Edit menu</h2>
      <%= semantic_form_for @menu, :url => table_dashboard_menu_update_path do |f| %>
	<%= f.inputs :title, :price, :participation_cooking, :description %>
	

	
      <%= f.buttons do %>
	<%= f.commit_button %>
      <% end %>

      <% end %>
    </div>
    
    <div class="span6">
      <h2>Dishes list</h2>

	<div class="well">
	  <ul class="nav nav-list">
	    <% @menu.dishes.each do |dish| %>
	      <li><%= dish.title %></li>
	    <% end %>
	  </ul>
	</div>

      <a class="btn" href="<%= table_dashboard_create_new_path %>">
	<i class="icon-plus"></i> 
	<%= t 'table_dashboard.index.create_new_table' %>
      </a>
      <br/><br/>
      
      
    </div>

  </div>
</section>

