
<section>
  <div class="page-header">
    <h1>
      <%= t('menu_dashboard.index.title') %> 
      <small>
	<%= t('menu_dashboard.index.descr') %>
      </small>
    </h1>
  </div>

  <ul class="breadcrumb">
    <li>
      <a href="<%= table_dashboard_manage_path %>">Table : <%= @table.title %></a> <span class="divider">/</span>
    </li>
    <li class="active">
      <a href="#">Menus</a>
    </li>
  </ul>


  <div class="row">

    <div class="span4">
      &nbsp;
    </div>
    
    <div class="span6">

      <div class="well">
	<ul class="nav nav-list">
	  <% @menus.each_with_index do |menu, index| %>
	    <li>
	      <%= link_to menu.title, table_dashboard_menu_edit_path(@table, menu) %>
	      <%= link_to 'Delete', table_dashboard_menu_destroy_path(@table, menu), :method => 'delete', :style => 'color :red;', :confirm => "#{t('menu_dashboard.index.delete_menu')} : #{menu.title} ?" %>
	    </li>
	  <% end %>
	</ul>
      </div>

      <%= link_to t('menu_dashboard.index.create_new_menu'), table_dashboard_menu_create_path, :method => :post, :class => 'btn' %>

    </div>

  </div>
</section>
