<table border=1>
<tr><td><b><%= t(:field_title) %></b></td>					<td><%= h @table.title %></td></tr>
<tr><td><b><%= t(:field_description) %></b></td>		<td><%= h @table.description %></td></tr>
<tr><td><b><%= t(:field_capacity) %></b></td>				<td><%= h @table.capacity %></td></tr>
<tr><td><b><%= t(:field_user_id) %></b></td>				<td><%= h @table.user_id %></td></tr>
<tr><td><b><%= t(:field_table_available) %></b></td><td><%= h @table.table_available %></td></tr>
<tr><td><b><%= t(:field_theme) %></b></td>					<td><%= h @table.theme %></td></tr>
<tr><td><b><%= t(:field_created_at) %></b></td>			<td><%= h @table.created_at %></td></tr>
<tr><td><b><%= t(:field_updated_at) %></b></td>			<td><%= h @table.updated_at %></td></tr>
<tr><td><b><%= t(:field_main_image) %></b></td>			<td><%= image_tag @table.main_image.url(:small) %></td></tr>
<%	if @table.address %>
<tr><td><b><%= t(:field_address1) %></b></td>				<td><%= @table.address.address1 %></td></tr>
<tr><td><b><%= t(:field_address2) %></b></td>				<td><%= @table.address.address2 %></td></tr>
<tr><td><b><%= t(:field_city) %></b></td>						<td><%= @table.address.city %></td></tr>
<%	else %>
<tr><td><b><%= t(:field_no_address) %></b></td></tr>
<%	end %>

<tr>
	<td><b><%= t(:field_menus) %></b></td>
	<td>
		<table border=1>
		<%	@table.menus.each_with_index do |m,i| %>
		<%		if i == 0 %>
		<tr>
			<td><b><%= t(:field_status) %></b></td>
			<td><b><%= t(:field_title) %></b></td>
			<td><b><%= t(:field_price) %></b></td>
			<td><b><%= t(:field_option) %></b></td>
			<td><b><%= t(:field_description) %></b></td>
			<td><b><%= t(:field_participation_cooking) %></b></td>
			<td><b><%= t(:field_main_image) %></b></td>
			<td><b><%= t(:field_category) %></b></td>
			<td><b><%= t(:field_max_guests) %></b></td>
			<td><b><%= t(:field_dishes) %></b></td>
		</tr>
		<%		end %>
		<tr>
			<td><%= h m.status %></td>
			<td><%= h m.title %></td>
			<td><%= h m.price %></td>
			<td><%= h m.option %></td>
			<td><%= h m.description %></td>
			<td><%= h m.participation_cooking %></td>
			<td><%= image_tag m.main_image.url(:small) if m.main_image.present? %></td>
			<td><%= h m.category %></td>
			<td><%= h m.max_guests %></td>
			<td>
				<table border=1>
					<%	m.dishes.each_with_index do |d,i| %>
					<%		if i == 0 %>
					<tr>
						<td><b><%= t(:field_title) %></b></td>
						<td><b><%= t(:field_image) %></b></td>
						<td><b><%= t(:field_description) %></b></td>
						<td><b><%= t(:field_position) %></b></td>
						<td><b><%= t(:field_category) %></b></td>
					</tr>
					<%		end %>
					<tr>
						<td><%= h d.title %></td>
						<td><%= image_tag d.image.url(:small) if d.image.present? %></td>
						<td><%= h d.description %></td>
						<td><%= h d.position %></td>
						<td><%= h d.category %></td>
					</tr>
					<%	end %>
				</table>
			</td>
		</tr>
		<%	end %>
		</table>
	</td>
</tr>
</table>
