
<%= content_for :javascripts do %>
  <%= javascript_include_tag 'google_map.js' %>
  
  <script>
    window.map_lang = {
    accurate : '<%= t('table_dashboard.map.more_accurate') %>',
    success : '<%= t('table_dashboard.map.success') %>'
    }
  </script>

<% end %>

<% if address.presence %>
  <div id="google_map" latitude="<%= address.latitude %>" longitude="<%= address.longitude %>">
  <% else %>
    <div id="google_map" latitude="" longitude="">
<% end %>

<%= semantic_form_for :address, :url => table_dashboard_address_create_path do |f| %>
  <div id="info-message"></div>

  <h3><%= t 'table_dashboard.map.address' %></h3>
  <%= f.input :address1, :placeholder => '42 place Rodin' %>
  <%= f.input :city, :placeholder => 'Paris' %>
  <%= f.input :zipcode, :placeholder => '75016' %>
  <%= f.input :country, :placeholder => 'France' %>

  
  <%= f.input :longitude, :as => :hidden %>
  <%= f.input :latitude, :as => :hidden %>
  <%= f.input :id, :as => :hidden %>
  

  <%= f.buttons do %>
    <input value="<%= t('table_dashboard.map.launch_search') %>" id="search_map" type="submit">
    <input value="<%= t('table_dashboard.map.submit_address') %>" class="submit" name="commit" type="button" style="display: inline-block; ">
  <% end %>
  
  <div id="map_canvas" style="width:442px; height:300px;"></div>
  
  <!-- <br/> -->

  <!-- <h3><%= t 'table_dashboard.map.additionnal' %> <small>private</small></h3> -->
  <!-- <%= f.input :code, :placeholder => '67AB5', :required => false %> -->
  <!-- <%= f.input :floor, :placeholder => '1st floor', :required => false %> -->
  

<input value="<%= t('table_dashboard.map.submit_address') %>" class="submit" name="commit" type="button" style="display: inline-block; ">
<% end %>

</div>
