
<% content_for :javascripts do %>
  <script>
    $().ready(function() {
		table_img = $('#trigger_upload_field');
		file_input = $('#table_main_image');
    TAH.clickTriggerUpload(table_img, file_input);
    TAH.editTable();
    });
  </script>
<% end %>

<section>
  <div class="page-header">
    <h1>
      <%= t('table_dashboard.edit_table.title') %> 
      <small>
	<%= t('table_dashboard.edit_table.descr') %>
      </small>
    </h1>
  </div>

  <div class="row">

    
    <div class="span6">


      
      <h2><%= t('table_dashboard.edit_table.general') %></h2>

      <%= semantic_form_for @table, :url => table_dashboard_update_table_path do |f| %>

	<%# Image click handling %>
	<%= f.input :main_image, :input_html => { :style => 'opacity : 0; position : absolute;'}  %>
	<% if @table.main_image.presence %>
	  <%= image_tag @table.main_image.url(:small), :id => 'trigger_upload_field', :class => 'image-triggerable' %>
	<% else %>
	  <%= image_tag 'proto/sal.jpg', :id => 'trigger_upload_field', :class => 'image-triggerable' %>
	<% end %>
      <%# end %>
      

      <%= f.input :title %>
      <%= f.input :description %>

      
      <%= f.buttons do %>
	<%= f.commit_button %>
      <% end %>


<% end %>


</div>

    <div class="span6">
      <h2><%= t('table_dashboard.edit_table.locatisation') %></h2>

      <%= render :partial => 'localisation_gmap', :locals => { :address => @address } %>
    </div>


</div>
</section>
