
<section>
  <div class="page-header">
    <h1>
      <%= t('table_dashboard.manage.title') %> : <%= @table.title %>
      <small>
	<%= link_to 'Show', table_view_show_path(params[:table_id]) %>
      </small>
    </h1>
  </div>  

  <div class="row show-grid">
    
    <a href="<%= table_dashboard_edit_table_path(@table) %>">
      <div class="span6 box-table step-<%= @table.step_one? %>">
	<%= t('table_dashboard.manage.edit_table') %>
      </div>
    </a>
    
    <div class="span6 box-table step-<%= @table.step_two? %>">
      <h2><%= t('menu_dashboard.index.title') %> </h2>
      
      <ul class="nav nav-list">
	<% @menus.each_with_index do |menu, index| %>
	  <li>
	    <%= link_to menu.title, table_dashboard_menu_edit_path(@table, menu) %>
	    <%= link_to 'Delete', table_dashboard_menu_destroy_path(@table, menu), :method => 'delete', :style => 'color :red;', :confirm => "#{t('menu_dashboard.index.delete_menu')} : #{menu.title} ?" %>
	  </li>
	<% end %>
      </ul>
      <%= link_to t('menu_dashboard.index.create_new_menu'), table_dashboard_menu_create_path, :method => :post, :class => 'btn', :id => 'new_menu' %>	
    </div>


  </div>

  <div class="row">
    
    <a href="<%= table_dashboard_edit_availabilities_path(@table) %>" id="access_availabilities">
      <div class="span12 box-table step-<%= @table.step_three? %>">
	<%= t('table_dashboard.manage.edit_availabilites') %>
      </div>
    </a>

  </div>


  <%# Main image %>
  <a href="<%= table_dashboard_edit_table_path(@table) %>">
    <% if @table.main_image.presence %>
      <%= image_tag @table.main_image.url(:table_page), :class => 'image-triggerable', :height => '100' %>
    <% else %>    
      <%= image_tag 'proto/dashboard.jpg', :class => 'image-triggerable', :height => '32' %>
    <% end %>
  </a>


</section>
