
<section>
  <div class="page-header">
    <h1>
      <%= t('table_dashboard.manage.title') %> : <%= @table.title %>
    </h1>
  </div>

  
  <%# Main image %>
  <a href="<%= table_dashboard_edit_table_path(@table) %>">
    <% if @table.main_image.presence %>
      <%= image_tag @table.main_image.url(:table_page), :class => 'image-triggerable' %>
    <% else %>    
      <%= image_tag 'proto/dashboard.jpg', :class => 'image-triggerable' %>
    <% end %>
  </a>
  

  <div class="row show-grid">
    
    <a href="<%= table_dashboard_edit_table_path(@table) %>">
      <div class="span6 box-table step-<%= @table.step_one? %>">
	<%= t('table_dashboard.manage.edit_table') %>
      </div>
    </a>
    
    <a href="<%= table_dashboard_menu_index_path(@table) %>">
      <div class="span6 box-table step-<%= @table.step_two? %>">
	<%= t('table_dashboard.manage.edit_menu') %>
	(<%= @table.menu_count %>)
	

      </div>
    </a>

  </div>

  <div class="row">
    
    <a href="<%= table_dashboard_edit_availabilities_path(@table) %>">
      <div class="span12 box-table step-<%= @table.step_three? %>">
	<%= t('table_dashboard.manage.edit_availabilites') %>
      </div>
    </a>
    

  </div>

</section>
