<% content_for :javascripts do %>
  <%= javascript_include_tag 'calendar/jquery-ui-1.8.11.custom.min.js' %>
  <script>
    $().ready(function() {
    TAH.addDishAjax();
    
    });
  </script>
<% end %>

<h2>Dishes list</h2>

<div class="well">
  <!-- Warning dish-list must stay arround the list of menus -->
  <ul class="nav nav-list dish-append">
    <% @menu.dishes.each do |dish| %>
      <li><%= dish.title %></li>
    <% end %>
  </ul>
</div>

<div class="add-dish well">
  <h3>Add dish</h3>
  <br/>
  <%= semantic_form_for :dish, :html => {:id => 'add-dish-ajax'}, :remote => true, :url => table_dashboard_menu_dish_create_path do |f| %>
    <%= f.input :title, :as => :autocomplete, :url => misc_autocomplete_dish_sample_title_path %>
    <%= f.inputs :description, :position %>
    
    <%= f.buttons do %>
      <%= f.commit_button t('menu_dashboard.edit.add_dish') %>
    <% end %>

  <% end %>
</div>
